.container {
   margin: 0 auto;
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px lightgrey;
    display: flex;
    margin-right:8%;
    margin-left: 8%;
    font-size: 5.0rem;
  }

  .logo{
    margin-left: 50px;
    margin-top: 30px;
  }

  .display-container {
    width: 90%;
    margin-left: 5%;
    align-items: center;
  }
  

   .operation-container {
    display: flex;
  }
  
   .left {
    width: 65%;
    margin: 6% 0 0 15%;
  }
  
   .right {
    width: 35%;
    margin: 6% 8% 0 0;
  }
  
   .specials {
    width: 90%;
    margin-left: 10%;
  }
  
   .numbers {
    flex-flow: row wrap;
    display: flex;
    width: 90%;
    margin-left: 10%;
  }
  
   .operators {
    width: 20%;
    margin-right: 0;
  }

   button {
    color: white;
    box-shadow: 6px 6px 20px black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: blue;
    font-size: 30px;
  }
  
   button:nth-child(10) {
    width: 150px;
    border-radius: 38%;
  }